* {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
}

#cobrowse-security-form {
    background-color: white;
}

.webchat-security-key-form {
    background-color: white;
    border: none;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.form-control.input--security-key {
    /* font-family: 'yorkten-slab-normal'; */
    /* font-family: 'benton-sans'; */
    /* width: 40vw; */
    font-size: 4.7vw;
    border-radius: 0px;
    border: 1px solid #d2d2d2;
    color: #56565a;
}

.form-control.input--security-key:hover,
.form-control.input--security-key:focus,
.form-control.input--security-key:active {
    border: 1px solid #486d90;
}

button.btn.btn-primary.btn--start-screen-share {
    /* font-family: 'yorkten-slab-normal'; */
    /* font-family: 'benton-sans'; */
    /* width: 50vw; */
    font-size: 4.7vw;
    border-radius: 0px;
    background-color: #486d90;
}

button.btn.btn-primary.btn--start-screen-share:hover {
    background-color: #3c5a77;
}

.error-section.animated.bounceIn {
    top: 100px;
    padding: 20px 40px;
    font-size: 4.7vw;
}
