#cobrowse-security-form {
    background-color: white;
}

.webchat-security-key-form {
    background-color: white;
    border: none;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
